/* .container {
  max-width: 85vw;
  padding-inline: 2rem;
  margin-inline: auto;
  display: flex;
  justify-content: space-around;
  max-height: 50vh;
}
  
.main-img {
  width: 50%;
  height: 400px;
} */
