@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@200;400;600;700&display=swap");

.uppercase {
  text-transform: uppercase;
}

.nav-container {
  max-width: 100vw;
  height: auto;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem 4rem;
  background: white;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.logo-text {
  font-size: 24px;
}
.logo-text > span {
  color: grey;
}
.nav-links > ul {
  display: flex;
  align-items: center;

  color: black;
}
.links > *:where(:not(:last-child)) {
  font-size: 16px;
  margin: 0 1rem;
  padding: 0 0 1rem 0;
  border-bottom: 0.1rem solid white;
  transition: 0.3s ease-in-out;
  letter-spacing: 0.1px;
}

.links > *:where(:not(:last-child)):hover {
  border-color: black;
}

.cart-icon {
  position: relative;
  margin-left: 2rem;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  aspect-ratio: 2;
}
.cart-icon::after {
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: transform 750ms ease-in-out;
}
.cart-icon:hover:after,
.cart-icon:focus:after {
  opacity: 1;
}
.btn {
  position: relative;
  display: inline-grid;
  place-items: center;
  aspect-ratio: 6/2.5;
  padding: 0 1rem;
}
.btn::after {
  content: "";
  position: absolute;
  border: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease-in-out 0.3s;
}
.btn:hover::after {
  opacity: 1;
  border: 1px solid white;
}
